a {
  text-decoration: none;
  color: white;
}

body {
  background-color: $background-color;
  color: white;
}

.container {
  margin-left: 5vw;
  padding: 0 5vw;
}

.react-photo-gallery--gallery {
  div {
    img {
      object-fit: cover;
    }
  }
}

.photoshowcase {
  margin-bottom: 50px;
  margin-top: 3rem;
}
