.form__button {
  outline: none;
  padding: 1rem;
  border-radius: 1rem;
  border: none;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  &:hover {
    cursor: pointer;
    color: white;
    background: transparent;
  }
}
