.header {
  //
  background-color: $dark-accent;

  width: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-top: 5vh;
  padding-bottom: 5vh;

  &:hover {
    // width: 15vw;
  }

  &__logo {
    background-color: white;
    width: 3vw;
    height: 3vw;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__item {
      width: 1.5vw;
      height: 1.5vw;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }

      &.active {
        color: $accent-color;
      }
    }
  }
}
