.contact {
  &__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -10;
  }

  &__form {
    margin-left: 50%;

    color: white;
    &__title {
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      margin: 0px 5rem;
      margin-bottom: 2rem;

      &__side {
        display: flex;
        gap: 1rem;
        input {
          width: 100%;
        }
      }
    }
  }
}
