.home {
  &__text {
    position: absolute;
    top: 29vh;

    &__title {
      font-size: 5rem;
      margin: 0;
      padding: 0;
    }

    &__subtitle {
      font-size: 4rem;
      color: $accent-color;
      margin: 0;
      padding: 0;
    }

    &__info {
      font-size: 1rem;
      margin-top: 1rem;
      padding: 0;
    }
  }
}
